.popup__icon {
  width: 32px;
  background-image: url(../../../images/Close_icon.svg);
  height: 32px;
  position: absolute;
  border: none;
  top: 154px;
  right: 386px;
  background-color: #000;
}

@media screen and (max-width: 320px) {
  .popup__icon {
    height: 20px;
    width: 20px;
    top: 86px;
    right: 20px;
    background-size: contain;
  }
}