.photo-card__description-like {
  border:none;
  background-image: url(../../../images/heard.svg);
  height: 19px;
  min-width: 22px;
  background-color: transparent;
  transition: .2s linear;
}
  
.photo-card__description-like:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* @media screen and (max-width: 768px) {
  .photo-card__description-like:hover {
    opacity: 1;
  }
} */

.photo-card__description-like_active {
  background-image: url(../../../images/heart_black.svg);
}
