.profile__information-job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  /* grid-area: job; */
  grid-column-start: 1;
  grid-column-end: 4;
}

@media screen and (max-width:320px) {
  .profile__information-job {
    font-size: 14px;
    line-height: 17px;
  }
  
}