.profile__information {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: min-content min-content;
  column-gap: 20px;
  row-gap: 6px;
  align-items: baseline;
  /* grid-template-areas: 
    'name button'
    'job job'; */
    
  /* grid-template-columns: minmax(200px, 460px) minmax(400px, 580px); */
}

@media screen and (max-width:320px){
  .profile__information {
    grid-template-columns: 1fr 18px;
    column-gap: 10px;
    row-gap: 14px;
    justify-items: center;
    
  }
}