.profile__information-name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  max-width: 294px;
  /* grid-area: name; */
  grid-column-start: 1;
  grid-column-end: 2;
}

@media screen and (max-width:320px) {
  .profile__information-name {
    font-size: 27px;
    line-height: 33px;
  }
}