.intro {
  display: flex;
  justify-content: space-between;
  margin: 37px 0 47px;
  align-items: center;
}

@media screen and (max-width:320px){
  .intro {
    margin: 39px 0 36px;
    flex-direction: column;
  }
}